#@ https://git-scm.com/docs/gitignore
# Literal Matches: Simple file or directory names can be ignored directly.
# file.txt
# directory/
# Wildcard Matches: The * wildcard matches zero or more characters.
# *.log          -> Matches any file ending with .log
# temp*          -> Matches any file starting with temp
# Directory Matches: Adding a trailing slash / indicates a directory.
# logs/          -> Ignores the logs directory
# Negation: Patterns can be negated by starting with an exclamation mark !.
# !important.log -> Do not ignore important.log even if *.log is ignored
# Glob Patterns: ** matches directories recursively.
# **/temp        -> Matches temp files in any directory
# Comments: Lines starting with # are comments. 
# # This is a comment
# Caution: Comments must start with # at the beginning of the line or after optional whitespace.
# # in the middle of a line does not create a comment.
#|________________________________________________________________________________|#  
#|%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%|#  
#|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|#  
#|++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++|#  
#|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|#  
# R/RStudio files
*.Rhistory
*.Rapp.history
.RData
.RDataTmp
# .Renviron
*.Renviron*
.Ruserdata
*.Rproj
.Rproj.user/
rsconnect/

# knitr and R markdown default cache directories/temporary files
*_cache/
/cache/
*.utf8.md
*.knit.md

# Output files from R CMD build/check
/*.tar.gz
/*.Rcheck/

# translation temp files
po/*~

# Ignore MacOS system files
.DS_Store

# Private files
*KEY*
MH)*.r
*-personal*
*-private*
*-annotate*
*- annotate*
*-edit*
*- edit*
*- info*
*-info*
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Quarto files
.quarto

# Editor-specific files
.vscode

# Compressed files
*.zip
*.7z
*.r.gz
*.r.xz
*.rmd.gz
*.rmd.xz

# Link or alias files
*.lnk
*alias

# Document files
*.ppt
*.pptx
# *.xls
# *.xlsx
*.doc
*.docx
*.rtf
*.pdf
*.pdf.*
*.nb.html
*.nb.html.*
*.html
*.html.*

# Temporary and debug files
*- void*
*-void*
*-dev*
*debug*
-tmp
*- tmp*
*-tmp*
*- old*
*-old*
*-backup*

# Log files
*-log*.*

# Databases or uncompressed data files
*.sqlite
# *.csv  ->use pre-commit hook to ignore csv files larger than 10 MB
