#@ https://git-scm.com/docs/gitignore
# Literal Matches: Simple file or directory names can be ignored directly.
# file.txt
# directory/
# Wildcard Matches: The * wildcard matches zero or more characters.
# *.log          -> Matches any file ending with .log
# temp*          -> Matches any file starting with temp
# Directory Matches: Adding a trailing slash / indicates a directory.
# logs/          -> Ignores the logs directory
# Negation: Patterns can be negated by starting with an exclamation mark !.
# !important.log -> Do not ignore important.log even if *.log is ignored
# Glob Patterns: ** matches directories recursively.
# **/temp        -> Matches temp files in any directory
# Comments: Lines starting with # are comments. 
# # This is a comment
# Caution: Comments must start with # at the beginning of the line or after optional whitespace.
# # in the middle of a line does not create a comment.
#|________________________________________________________________________________|#  
#|%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%|#  
#|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|#  
#|++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++|#  
#|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|#  
# History files
*.Rhistory
*.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
*.Rproj
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
# .Renviron
*.Renviron*

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Ignore MacOS system files
.DS_Store

# Quarto files
.quarto

# Editor-specific files
.vscode

# Compressed files
*.zip
*.7z
*.r.gz
*.r.xz
*.rmd.gz
*.rmd.xz

# Link or alias files
*.lnk
*alias

# Document files
*.ppt
*.pptx
*.xls
*.xlsx
*.doc
*.docx
*.rtf
*.pdf
*.pdf.*
*.nb.html
*.nb.html.*
*.html
*.html.*

# Temporary and debug files
*- void*
*-void*
*-dev*
*debug*
-tmp
*- tmp*
*-tmp*
*- old*
*-old*
*-backup*

# Log files
*-log*.*

# Private files
*KEY*
MH)*.r
*-personal*
*-private*
*-annotate*
*- annotate*
*-edit*
*- edit*
*- info*
*-info*

# Databases
*.sqlite

