#@ https://git-scm.com/docs/gitignore
# Literal Matches: Simple file or directory names can be ignored directly.
# file.txt
# directory/
# Wildcard Matches: The * wildcard matches zero or more characters.
# *.log          -> Matches any file ending with .log
# temp*          -> Matches any file starting with temp
# Directory Matches: Adding a trailing slash / indicates a directory.
# logs/          -> Ignores the logs directory
# Negation: Patterns can be negated by starting with an exclamation mark !.
# !important.log -> Do not ignore important.log even if *.log is ignored
# Glob Patterns: ** matches directories recursively.
# **/temp        -> Matches temp files in any directory
# Comments: Lines starting with # are comments. 
# This is a comment
# Caution: Comments must start with # at the beginning of the line or after optional whitespace.
# in the middle of a line does not create a comment.
# *** Important) even if a file type is ignored, it can be forced to be tracked by:
# git add -f specific_filename.ext
# *** Important) even if a commit ignored, it can be forced to be tracked by:
# git add -f specific_filename.ext
#|________________________________________________________________________________|#  
#|%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%|#  
# *** use pre-commit hook to block commit, but show a warning? the file is kept shown messily in the git status, and makes error messages when trying to add & commit.? the file is kept shown messily in the git status, and makes error messages when trying to add & commit.
# *** Let's just use pre-commit hook for file sizes only.
# *** For binary data files, let's just ignore, and search for files intermittently (maybe make a custom git status --ignored?)
# https://stackoverflow.com/questions/466764/git-command-to-show-which-specific-files-are-ignored-by-gitignore
# git status --ignored
# git check-ignore -v *  # along with the .gitignore rule that led to its exclusion
# git check-ignore -v **/*  # For a recursive list including subdirectories, assuming your shell supports the ** glob pattern.
# find . -type f | git check-ignore --stdin -v  # For a recursive list including subdirectories, including files in subdirectories not picked up by standard glob patterns.
#|________________________________________________________________________________|#  
#|%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%|#  
#|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|#  
#|++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++|#  
#|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|#  
# R/RStudio files
*.Rhistory
*.Rapp.history
# .Renviron
# *.Renviron*
.Ruserdata
*.Rproj
.Rproj.user/
rsconnect/

# knitr and R markdown default cache directories/temporary files
*_cache/
/cache/
*.utf8.md
*.knit.md

# Output files from R CMD build/check
/*.tar.gz
/*.Rcheck/

# translation temp files
po/*~

# Ignore MacOS system files
.DS_Store

# Private files
*KEY*
MH)*.r
*-personal*
*-private*
*-annotate*
*- annotate*
*-edit*
*- edit*
*- info*
*-info*
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Quarto files
.quarto

# Editor-specific files
.vscode
.history/

# Compressed files
*.zip
*.7z
*.tar
*.gz
*.bz
*.xz
*.r.gz
*.r.xz
*.rmd.gz
*.rmd.xz

# Link or alias files
*.lnk
*alias

# Document files
*.ppt
*.pptx
*.pptm
# *.xls *.xlsx # -> use pre-commit hook to block commit, but show a warning? the file is kept shown messily in the git status, and makes error messages when trying to add & commit.? the file is kept shown messily in the git status, and makes error messages when trying to add & commit.
*.xls
*.xlsx
*.xlsm
*.doc
*.docx
*.docm
*.rtf
*.pdf
*.pdf.*
*.nb.html
*.nb.html.*
*.html
*.html.*
*_files/

*.rdata
*.rdata
*.rda
*.rda
*.rds
*.rds
*.csv

# Temporary and debug files
void/
*- void*
*-void*
temp/
tmp/
-tmp
*- tmp*
*-tmp*
# dev/
# *-dev*
# debug/
# *debug*
backup/
*-backup/
*-backup*
archive/
*-archive*
# old/
# *- old*
# *-old*

# Log files
# *-log*.*
# *.log

# data files
*.sqlite
*.sas7bdat
*.RDataTmp
# *.rdata *.rda *.rds # -> use pre-commit hook to block commit, but show a warning? the file is kept shown messily in the git status, and makes error messages when trying to add & commit.
*.rdata
*.rda
*.rds
# *.csv # -> use pre-commit hook to block commit based on the size limit

# Executable files & Binary files
*.exe
*.dll
*.so
*.bin
*.reg
*.msi
*.jar
*.download
*.MTA

# Object files
*.o
*.obj

# Image files
*.png
*.jpg
*.jpeg
*.gif
*.tif
*.bmp
*.svg

# Machine-specific backup files
*-ID92i5-4570T*
*-MKIM-15ZD980-HX70K*
*-LIVAi7-8700*
*-ASRockX300Ryzen5600G*
*-Min-Hyung’s MacBook Pro*
*-MAGB760M13700KF*


# MHahk
msedgeprofile_autocoder/
browser/
bin/

# Negation (Do Not Ignore, Always Track)
!*@Rocker.html
!*@Rocker.pdf
!*@Rocker*[^.][^n][^b].html
!*@Rocker*[^a][^n][^n][^o][^t][^a][^t][^e].pdf
!*@Posit.Cloud.html
!*@Posit.Cloud.pdf
!*@Posit.Cloud*[^.][^n][^b].html
!*@Posit.Cloud*[^a][^n][^n][^o][^t][^a][^t][^e].pdf
!github-temp/
!github-tmp/
!github-dev/
!github-debug/
!github-backup/
!github-archive/
!github-old/
!MHjavascript/*.html
!MHjavascript/*/*.html
!*.js.html
!*.js-call.html
!*-edit.md
